################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aspireWorkshop/DesignTimeBuild
/.vs/aspireWorkshop/FileContentIndex
/.vs
/aspireWorkshop.API/bin
/aspireWorkshop.API/obj
/aspireWorkshop.AppHost/bin
/aspireWorkshop.AppHost/obj
/aspireWorkshop.Data/bin
/aspireWorkshop.Data/obj
/aspireWorkshop.Domain/bin
/aspireWorkshop.Domain/obj
/aspireWorkshop.ServiceDefaults/bin
/aspireWorkshop.ServiceDefaults/obj
/src/aspireWorkshop.API/obj/Debug/net9.0/aspireWorkshop.API.AssemblyInfo.cs
/src/aspireWorkshop.API/obj/Debug/net9.0/aspireWorkshop.API.AssemblyInfoInputs.cache
/src/aspireWorkshop.AppHost/obj/Debug/net9.0/aspireWorkshop.AppHost.AssemblyInfo.cs
/src/aspireWorkshop.AppHost/obj/Debug/net9.0/aspireWorkshop.AppHost.AssemblyInfoInputs.cache
/src/aspireWorkshop.ServiceDefaults/obj/Debug/net9.0/aspireWorkshop.ServiceDefaults.AssemblyInfo.cs
/src/aspireWorkshop.ServiceDefaults/obj/Debug/net9.0/aspireWorkshop.ServiceDefaults.AssemblyInfoInputs.cache
